body {
	background-color: transparent;
  text-align: left;
}

table {
  text-align: left;
}

th {
  position: sticky;
  top: 0;
  color: #1e1e1e;
  background:#d3d3d3;
  max-width: 50%;
}

  @keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }

  .dot {
    animation: blink 2s infinite;
  }

  .cell {
    min-width: 16px;
    min-height: 16px;
    width: 16px;
    height: 16px;
    color: black;
    background-color:#d3d3d3;
    font-size: 12px;
    text-align: center;
  }

  .cell:hover {
      cursor: pointer;
  }

  .lane{
    border: #757575;
  }

  .colored{
    background-color: #01ffff;
    color: #ffff00;
  }

  .hitCell{
    background-color: #4882b1;
    color: #ffff00;
  }

  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0;
    display: block;
    overflow: hidden;
    background-color: #d3d3d3;
    color: #1e1e1e;
  }
  